<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul class="flex-container">
  <li><%= link_to "Edit", edit_article_path(@article),
       class: "new-link plain-link" %></li>
  <li><%= link_to "Destroy", article_path(@article),
       method: :delete,
       data: { confirm: "Are you sure?" },
       class: "new-link plain-link"%></li>
</ul>
