// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

main {
  width: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
}

.plain-link, .plain-link:visited {
  text-decoration: none;
}

.grey-text {
  color: grey;
}

.new-link {
  color: darkblue;
  padding-left: 50px;
}

.article-date {
  display: inline-block;
  margin-left: 200px;
}

.flex-container {
  display: flex;
}

.w-100 {
  width: 100%;
}

.article-textarea {
  height: 50vh;
}

.comment-textarea {
  height: 20vh;
}

.input-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px
}

.commenter-container {
  display: flex;
  justify-content: space-between;
}

.commenter-container > p {
  margin: 10px 0;
}

.comment-body {
  margin: 0;
  padding-bottom: 10px;
}

.grey-comment {
  background-color: #f0f0f0;
}
